
body {
    background-color: #fff;
    width: 760;
}

.main-header {
    background: #34495E;
    border-color: #778899;
	text-align: center;
}

.logo, 
.main-nav p {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
}

.main-nav p {
	padding: 0 .75em;
	border-right: 1px dotted;
	color: rgba(255,255,255, .8);
	font-size: .7em;
	line-height: 1rem;
}

 h1 {
    color: #fff;
    padding: auto;
}


.content {
    background: url(../img/a.jpg);
    width: 1028px;
    height: 600px;
    padding: 0 auto;
    margin: auto;
}


li {
    margin: 10px;
    border-radius: 10px;
    background: #79968c;
    color: #fff;
}


.main-footer {
    background-color: cornflowerblue;
    color: #fff;
    width: 1028px;
    padding: 0 auto;
    margin: auto;
    text-align: center;
}


.col-a-col,
.col-b-col,
.col-c-col {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
}  